@model IEnumerable<Transaction>


<div class="card shadow border-0 bg-white my-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Transaction List</h2>
            </div>
        </div>
    </div>
    <div class="card-body px-3 pt-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" asp-controller="Transaction" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> Create New Transaction
                </a>
            </div>
        </div>
    </div>
    <div class="card-body px-3">
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
              @*   <th class="text-white">
                    Id
                </th> *@
                <th class="text-white">
                    Title
                </th>
                <th>
                    Category
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date
                </th>
               
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Transaction transaction in Model.OrderBy(t=>t.Id))
            {
                <tr>
                    <td>@transaction.Title</td>
                    <td>@transaction.Category.Name</td>
                    <td>@transaction.Amount.ToString("c")</td>
                    <td>@transaction.ShortDescription</td>
                    <td>@transaction.DateTime</td>
                    <td>
                        <a asp-controller="Transaction" asp-action="Edit" asp-route-id="@transaction.Id" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> </a>
                        <a asp-controller="Transaction" asp-action="Delete" asp-route-id="@transaction.Id" class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>

